body {
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
}

header {
    background-color: #333;
    color: #fff;
    padding: 20px;
    text-align: center;
}

#proyectos {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    padding: 20px;
}

.proyecto {
    width: 300px;
    margin: 20px;
    border: 1px solid #ccc;
    padding: 10px;
}

.proyecto img {
    max-width: 100%;
    height: auto;
}
