.navbar{
    height: 100px;

    .wrapper{
        max-width: 1366px;
        margin: auto;
        display: flex;
        align-items: center;
        justify-content: space-between;
        //background-color: blueviolet;
        height: 100%;

        span{
            font-weight: bold;
            font-size: 24px;
            color: white;
        }


        .social {
            display: flex;
            gap: 20px;
            background-color: white;
            padding: 15px;
            border-radius: 10px;
        }
      
        img{
            width: 30px;
            height: 30px;
        }
    }
}



